{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Poma Search</title>
{% endblock extrahead %}
<link rel="shortcut icon" href="{% static 'images/logo.png' %}"/>
<div class="min-[768px]:flex justify-center min-[768px]:py-28 max-md:h-full max-md:flex-1 bg-gradient-to-tr from-bgfrom to-bgto items-center">
    <img alt="logo"
         class="opacity-5 w-[500px] max-md:w-40"
         src="{% static 'images/logo.svg' %}"/>
    <div class="shadow-2xl rounded-lg  w-full h-40 max-w-md bg-white items-center flex p-2">
        <h1 class="text-center w-full font-bold text-3xl">A password reset link was sent to your email.</h1>
    </div>
</div>
