{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Poma Search</title>
{% endblock extrahead %}
<html lang="en" class="h-full">
    <body class="h-full bg-gradient-to-tr from-bgfrom to-bgto p-2 sm:p-10 justify-center">
        <div class="w-full flex flex-col justify-start m-auto bg-white shadow-2xl rounded-2xl h-full overflow-hidden">
            <nav class="flex flex-row max-w-[40em] self-center">
                {% if not request.session.demo %}
                    <a href="{% url 'logout' %}"
                       class="px-2 py-5 underline underline-offset-1 align-middle hover:text-sky-500 dark:hover:text-sky-400">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-10 h-10 opacity-50">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>
                    </a>
                {% else %}
                    <div id="toast-simple"
                         class="mt-5 flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
                         role="alert">
                        <div class="pl-4 text-sm font-normal">
                            This is a demo instance pointing to this <a class="text-blue-500 hover:underline"
    href="https://drive.google.com/drive/folders/1XyjS_Xm_ANhqb0OtLt027dyNcgcsimU2?usp=share_link">drive folder</a> that contains the documents for the fictional Interdimensional Web Services, and Stories by Thucydides. Want your own or to add some files? Join our <a href="https://join.slack.com/t/pomasearch/shared_invite/zt-1nu8boxk6-zyKGvIFt4Jx0HPz_d7sj4g"
    class="text-blue-500 hover:underline">slack channel</a> and our <a href="https://us21.list-manage.com/survey?u=b7e9a9274fe8cccc601a974b4&id=11835248fc&e=*|UNIQID|*"
    class="text-blue-500 hover:underline">waiting list</a> for more info on the private beta!
                        </div>
                    </div>
                {% endif %}
                {% if request.user.profile.is_admin %}
                    <a href="{% url 'workspace-update' %}"
                       class="px-2 py-5 underline underline-offset-1 align-middle hover:text-sky-500 dark:hover:text-sky-400">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-10 h-10 opacity-50">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 01-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 11-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 016.336-4.486l-3.276 3.276a3.004 3.004 0 002.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008z" />
                        </svg>
                    </a>
                {% endif %}
                {% if not request.session.demo %}
                    <a class="px-2 py-5 underline underline-offset-1 align-center hover:text-sky-500 dark:hover:text-sky-400">
                        <img class="w-10 h-10 rounded-2xl object-cover m-auto"
                             src="{{ request.user.profile.logo }}"/>
                    </a>
                {% endif %}
            </nav>
            <form method="POST"
                  novalidate
                  class="flex flex-col w-full justify-center items-center h-[70%]">
                {% csrf_token %}
                <div class="absolute md:relative">
                    <img width="250px"
                         height="250px"
                         alt="logo"
                         class="md:shadow-xl rounded-full mb-2"
                         src="{% static 'images/logo-grad.svg' %}"/>
                </div>
                <div class="absolute md:relative flex flex-row max-w-[80%] md:max-w-[40em] border rounded-full w-full justify-center hover:shadow-md p-1 bg-white">
                    <img width="20px"
                         height="20px"
                         class="ml-2 opacity-50"
                         src="{% static 'images/icons/magnifying-glass.svg' %}"/>
                    <input id="id_search"
                           name="search"
                           autofocus
                           required
                           autocomplete="search"
                           class="text-xl border-none w-full bg-transparent outline-none focus:outline-0 outline-0 shadow-none focus:ring-0"
                           type="text"/>
                    <div class="flex flex-row items-center">
                        <input id="id_gpt" name="gpt" type="checkbox"/>
                        <label for="id_gpt" class="checked:to-blue-500 mx-2">GPT</label>
                    </div>
                </div>
                <div class="absolute md:relative -mb-20 md:mb-0">
                    <input type="submit"
                           class="text-center align-middle border shadow-xl bg-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-black font-semibold h-10 px-6 rounded-lg flex items-center justify-center  /20  w-auto mt-8 text-lg"
                           value="Search with Poma"/>
                </div>
            </form>
        </div>
    </body>
</html>
